<div class="container m-auto">
  <div class="wrap">
    <div class="col-span-1 leading-9">
      <ng-container *ngFor="let item of dataRow1">
        <h2 class="font-bold text-sm font-30 mb-7">
          <!-- {{ item.title | uppercase }} -->
        </h2>
        <p
          *ngFor="let item of item.content"
          [routerLink]="item.routerLink"
          class="title font-medium hover:text-teal-700 hover:underline cursor-pointer"
        >
          {{ item.label | uppercase }}
        </p>
      </ng-container>
    </div>
  </div>
</div>
