.resize-arrow {
  cursor: col-resize;
  padding: 0 5px;
}

.nav-link:hover {
  background-color: #007bff;
  border-radius: 10px;
}

.material{
  margin-right: 10px;
}
// th::after{
//   content: "";

// }
th{
  user-select: none;
}

tr{
  font-size: 8px;
}
.form-group {
  width: 50%;
  float: left;
  padding: 0 5px;
}

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

