<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white">Quản lý sản phẩm</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null!, 'add')"><span class="material material-icons btn btn-primary">
            note_add
          </span>Thêm sản phẩm <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input type="search" ngModel name="key" id="searchName" class="form-control mr-sm-2" required />
    </form> -->
    <form class="form-inline my-2 my-lg-0">
      <input type="search" [(ngModel)]="searchProductName" name="searchProductName" id="searchName"
        class="form-control mr-sm-2" placeholder="Tìm kiếm theo tên sản phẩm" />
      <button type="button" class="btn btn-primary" (click)="onSearchProduct()">Tìm kiếm</button>
    </form>

  </div>
</nav>

<div class="container" id="main-container">
  <!-- List Product -->
  <div class="row">
    <div *ngFor="let product of products" class="col-md-6 col-xl-3">
      <!-- ... (rest of your product card template) ... -->
    </div>
  </div>

  <!-- List Product -->
  <div class="row">
    <div *ngFor="let product of detailFunitureService.listProduct | async" class="col-md-6 col-xl-3">
      <div class="card m-b-30" #addForm="">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ID:{{ product.id }}</li>
        </ul>
        <div class="card-body row">
          <div class="col-6">
            <a href="">
              <img src="{{ product.image }}" class="img-fluid rounded-circle w-60" />
            </a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <p class="m-0">{{ product.productName }}</p>
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">MÔ TẢ: {{ product.description }}</li>
          <li class="list-group-item">GIÁ: {{ product.price }}</li>

          <li class="list-group-item">
            MÃ SẢN PHẨM:
            {{ product.productCode }}
          </li>
          <li class="list-group-item">
            TRẠNG THÁI:
            {{ product.status }}
          </li>
          <li class="list-group-item">ID LOẠI: {{ product.category.id }}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <!-- <a (click)="onOpenModal(product, 'edit')" class="btn btn-primary tooltips" data-placement="top"
              data-original-title="Edit"><i class="fa fa-pencil"></i>
            </a>

            <a (click)="onOpenModal(product, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
              data-original-title="Delete"><i class="fa fa-times"></i></a> -->
            <span (click)="onOpenModal(product, 'edit')" class="material material-icons btn btn-primary">
              edit
            </span>
            <span (click)="onOpenModal(product, 'delete')" class="material material-icons btn btn-danger">
              delete_forever
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Product Modal -->
  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onAddProduct(addForm)" #addForm="ngForm" method="post" action="/employee/uploadImg"
            enctype="multipart/form-data">
            <!-- <div class="form-group">
            <label for="id">ID:</label>
            <input
              type="text"
              ngModel
              name="id"
              class="form-control"
              id="id"
              placeholder="ID"
              required
            />
          </div> -->
            <div class="form-group">
              <label for="image">IMAGE:</label>
              <input type="text" ngModel name="image" class="form-control" id="image" required />
            </div>
            <div class="form-group">
              <label for="price">PRICE:</label>
              <input type="text" ngModel name="price" class="form-control" id="price" required />
            </div>
            <div class="form-group">
              <label for="productCode">PRODUCT CODE:</label>
              <input type="text" ngModel name="productCode" class="form-control" id="productCode" required />
            </div>
            <div class="form-group">
              <label for="productName">PRODUCT NAME:</label>
              <input type="text" ngModel name="productName" class="form-control" id="productName" required />
            </div>
            <div class="form-group">
              <label for="description">DESCRIPTION:</label>
              <input type="text" ngModel name="description" class="form-control" id="description" required />
            </div>
            <!-- <div class="form-group">
              <label for="brand">BRAND:</label>
              <input type="text" ngModel name="brand" class="form-control" id="brand" p required />
            </div> -->

            <div class="form-group">
              <label for="brand.id">BRAND:</label>
              <select [(ngModel)]="selectedBrandId" name="brandId" class="form-control" id="brandId" required>
                <option disabled selected>Chọn một mục</option>
                <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.brandName }}</option>
              </select>
            </div>


            <div class="form-group">
              <label for="category.id">CATEGORY ID:</label>
              <select [(ngModel)]="selectedCategoryId" name="categoryId" class="form-control" id="categoryId" required>
                <option disabled selected>Chọn một mục</option>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</option>
              </select>
            </div>
            <!-- <div class="form-group">
              <label for="category.id">CATEGORY ID:</label>
              <select ngModel name="categoryId" class="form-control" id="categoryId" required>
                <option disabled selected>Chọn một mục</option>
                <option value="1">Áo đá bóng </option>
                <option value="3">Giày đá bóng </option>
                <option value="4">Áo thể thao</option>
                <option value="5">Giày thể thao</option>
                <option value="6">Phụ kiện thể thao</option>
                <option value="7">Áo ĐTQG</option>

                <option value="8">Khoác ĐTQG</option>
                <option value="9">Bóng chuyền ba lỗ</option>
                <option value="10">Bóng chuyền cọc tay</option>
                <option value="11">Bóng rổ</option>
                <option value="12">Thể thao trẻ em</option>
              </select>
            </div> -->

            <div class="form-group">
              <label for="status">STATUS:</label>
              <select ngModel name="status" class="form-control" id="status" required>
                <option disabled selected>Chọn một mục</option>
                <option value="0">ẨN</option>
                <option value="1">HIỆN</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-product-form" class="btn btn-secondary" data-dismiss="modal">
                Clear
              </button>
              <button type="button" id="add-product-form" class="btn btn-danger" data-dismiss="modal">
                Close
              </button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Product -->
  <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="productEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateProductModalLabel">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="id">ID:</label>
              <input type="text" ngModel="{{ editProduct.id }}" name="id" class="form-control" id="id" placeholder="ID"
                readonly required />
              <!-- <h6>{{ editProduct.id }}</h6> -->
            </div>
            <div class="form-group">
              <label for="image">IMAGE:</label>
              <input type="text" ngModel="{{ editProduct.image }}" name="image" class="form-control" id="image"
                placeholder="image" required />
            </div>
            <div class="form-group">
              <label for="price">PRICE:</label>
              <input type="text" ngModel="{{ editProduct.price }}" name="price" class="form-control" id="price"
                placeholder="price" required />
            </div>
            <div class="form-group">
              <label for="productCode">PRODUCT CODE:</label>
              <input type="text" ngModel="{{ editProduct.productCode }}" name="productCode" class="form-control"
                id="productCode" placeholder="productCode" required />
            </div>
            <div class="form-group">
              <label for="productName">PRODUCT NAME:</label>
              <input type="text" ngModel="{{ editProduct.productName }}" name="productName" class="form-control"
                id="productName" placeholder="productName" required />
            </div>
            <div class="form-group">
              <label for="description">DESCRIPTION:</label>
              <input type="text" ngModel="{{ editProduct.description }}" name="description" class="form-control"
                id="description" placeholder="description" required />
            </div>
            <!-- <div class="form-group">
              <label for="brand.id">BRAND:</label>
              <input type="text" ngModel="{{ editProduct.brand?.id }}" name="brandId" class="form-control" id="brandId"
                placeholder="brand" required />
            </div> -->

            <div class="form-group">
              <label for="brand.id">BRAND:</label>
              <select [(ngModel)]="editProduct.brand.id" name="brandId" class="form-control" id="brandId" required>
                <option disabled selected>Chọn một mục</option>
                <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.brandName }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="category.id">CATEGORY ID:</label>
              <select [(ngModel)]="editProduct.category.id" name="categoryId" class="form-control" id="categoryId"
                required>
                <option disabled selected>Chọn một mục</option>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.categoryName }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="status">STATUS:</label>
              <select ngModel="{{ editProduct.status }}" name="status" class="form-control" id="status">
                <option disabled selected>Chọn một mục</option>
                <option value="0">ẨN</option>
                <option value="1">HIỆN</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-product-form" class="btn btn-secondary" data-dismiss="modal">
                Clear
              </button>

              <button (click)="onUpdateProduct(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete product
            {{ deleteProduct ? deleteProduct.productName : "N/A" }}
          </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              No
            </button>
            <button (click)="onDeleteProduct(deleteProduct.id)" class="btn btn-danger" data-dismiss="modal">
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>