<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white">Product Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add Employee <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" ngModel name="key" id="searchName" class="form-control mr-sm-2"
        placeholder="Search employees..." required />
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <!-- List Product -->
  <div class="row">
    <div *ngFor="let product of detailFunitureService.listProduct | async" class="col-md-6 col-xl-3">
      <div class="card m-b-30" #addForm="">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">ID:{{ product.id }}</li>
        </ul>
        <div class="card-body row">
          <div class="col-6">
            <a href="">
              <img src="{{ product.image }}" alt="" class="img-fluid rounded-circle w-60" />
            </a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <p class="m-0">{{ product.productName }}</p>
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">MÔ TẢ: {{ product.description }}</li>
          <li class="list-group-item">GIÁ: {{ product.price }}</li>

          <li class="list-group-item">
            MÃ SẢN PHẨM:
            {{ product.productCode }}
          </li>
          <li class="list-group-item">
            TRẠNG THÁI:
            {{ product.status }}
          </li>
          <li class="list-group-item">ID LOẠI: {{ product.category.id }}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(product, 'edit')" class="btn btn-primary tooltips" data-placement="top"
              data-original-title="Edit"><i class="fa fa-pencil"></i>
            </a>
            <span class="material material-icons btn btn-primary">
              edit
            </span>
            <a (click)="onOpenModal(product, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
              data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Product Modal -->
  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onAddProduct(addForm)" #addForm="ngForm" method="post" action="/employee/uploadImg"
            enctype="multipart/form-data">
            <!-- <div class="form-group">
            <label for="id">ID:</label>
            <input
              type="text"
              ngModel
              name="id"
              class="form-control"
              id="id"
              placeholder="ID"
              required
            />
          </div> -->
            <div class="form-group">
              <label for="image">IMAGE:</label>
              <input type="text" ngModel name="image" class="form-control" id="image" placeholder="image" required />
            </div>
            <div class="form-group">
              <label for="price">PRICE:</label>
              <input type="text" ngModel name="price" class="form-control" id="price" placeholder="price" required />
            </div>
            <div class="form-group">
              <label for="productCode">PRODUCT CODE:</label>
              <input type="text" ngModel name="productCode" class="form-control" id="productCode"
                placeholder="productCode" required />
            </div>
            <div class="form-group">
              <label for="productName">PRODUCT NAME:</label>
              <input type="text" ngModel name="productName" class="form-control" id="productName"
                placeholder="productName" required />
            </div>
            <div class="form-group">
              <label for="description">DESCRIPTION:</label>
              <input type="text" ngModel name="description" class="form-control" id="description"
                placeholder="description" required />
            </div>
            <div class="form-group">
              <label for="brand">BRAND:</label>
              <input type="text" ngModel name="brand" class="form-control" id="brand" placeholder="brand" required />
            </div>
            <!-- <div class="form-group">
            <label for="category">CATEGORY ID:</label>
            <input
              type="text"
              ngModel
              name="category.id"
              class="form-control"
              id="category.id"
              placeholder="Enter Category ID"
              required
            />
          </div> -->
            <div class="form-group">
              <label for="category.id">CATEGORY ID:</label>
              <input type="text" ngModel name="categoryId" class="form-control" id="categoryId"
                placeholder="Enter Category ID" required />
            </div>

            <div class="form-group">
              <label for="status">STATUS:</label>
              <input type="text" ngModel name="status" class="form-control" id="status" placeholder="status" required />
            </div>
            <div class="modal-footer">
              <button type="button" id="add-product-form" class="btn btn-secondary" data-dismiss="modal">
                Clear
              </button>
              <button type="button" id="add-product-form" class="btn btn-danger" data-dismiss="modal">
                Close
              </button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Product -->
  <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="productEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateProductModalLabel">Add Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="id">ID:</label>
              <input type="text" ngModel="{{ editProduct.id }}" name="id" class="form-control" id="id" placeholder="ID"
                required />
              <!-- <h6>{{ editProduct.id }}</h6> -->
            </div>
            <div class="form-group">
              <label for="image">IMAGE:</label>
              <input type="text" ngModel="{{ editProduct.image }}" name="image" class="form-control" id="image"
                placeholder="image" required />
            </div>
            <div class="form-group">
              <label for="price">PRICE:</label>
              <input type="text" ngModel="{{ editProduct.price }}" name="price" class="form-control" id="price"
                placeholder="price" required />
            </div>
            <div class="form-group">
              <label for="productCode">PRODUCT CODE:</label>
              <input type="text" ngModel="{{ editProduct.productCode }}" name="productCode" class="form-control"
                id="productCode" placeholder="productCode" required />
            </div>
            <div class="form-group">
              <label for="productName">PRODUCT NAME:</label>
              <input type="text" ngModel="{{ editProduct.productName }}" name="productName" class="form-control"
                id="productName" placeholder="productName" required />
            </div>
            <div class="form-group">
              <label for="description">DESCRIPTION:</label>
              <input type="text" ngModel="{{ editProduct.description }}" name="description" class="form-control"
                id="description" placeholder="description" required />
            </div>
            <div class="form-group">
              <label for="brand">BRAND:</label>
              <input type="text" ngModel="{{ editProduct.brand }}" name="brand" class="form-control" id="brand"
                placeholder="brand" required />
            </div>
            <div class="form-group">
              <label for="category.id">CATEGORY ID:</label>
              <input type="text" ngModel="{{ editProduct.category.id }}" name="categoryId" class="form-control"
                id="categoryId" placeholder="Enter Category ID" required />
            </div>

            <div class="form-group">
              <label for="status">STATUS:</label>
              <input type="text" ngModel="{{ editProduct.status }}" name="status" class="form-control" id="status"
                placeholder="status" required />
            </div>
            <div class="modal-footer">
              <button type="button" id="add-product-form" class="btn btn-secondary" data-dismiss="modal">
                Clear
              </button>

              <button (click)="onUpdateProduct(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Are you sure you want to delete product
            {{ deleteProduct?.productName }}
          </p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              No
            </button>
            <button (click)="onDeleteProduct(deleteProduct.id)" class="btn btn-danger" data-dismiss="modal">
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>