.card {
  @apply p-3 m-auto cursor-pointer;

  .card-img {
    @apply relative w-full overflow-hidden;
  }

  .image-overlay {
    @apply absolute top-0 left-0 right-0 bottom-0 opacity-0;
    transition: opacity 0.4s ease-in-out;
  }

  .card-img:hover .image-overlay {
    opacity: 1;
  }
}

.card:hover {
  box-shadow: 0px 5px 5px #eaeaea;
}

.content {
  @apply mt-5
}

.content-price {
  @apply mt-5;
}

.box {
  width: 18px;
  height: 18px;
  border: 1px solid #eaeaea;
  @apply rounded-full mr-2;
}

.btn {
  border: 1px solid black;
}

.btn:hover {
  color: rgb(183, 186, 211);
  background-color: blue;
  border: 1px solid blue;
}

.btn.active {
  color: rgb(183, 186, 211);
  background-color: blue;
  border: 1px solid blue;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}