<div class="container">
  <div class="text-center font-bold pb-5 pt-3" style="font-size:35px ">GIỚI THIỆU</div>
  <div class="grid grid-cols-2 gap-2 card mt-4 border-none">
    <div class="grid-cols-2 mr-3">
      <div class="logo cursor-pointer" nz-col nzSpan="6" >
        <img style=" border-radius: 25px; margin: 0px!important;" src="/assets/images/logo/HNT_Sport_Logo.png" alt="" srcset=""/>
      </div>
    </div>
    <div class="grid-cols-2">
      <div class="font-bold" style="font-size: 30px">HNT Sport</div>
      <div style="font-size: 18px">Lịch sử và lời nói của người sáng lập.</div>
      <br>
      <div style="font-size: 18px">Thân gửi quý khách hàng của <span class="font-bold">HNT Sport.</span>Chúng tôi là một nhóm gồm 3 thành viên:&nbsp;<span class="font-bold">Hởi, Núi, Tuấn.</span>  </div>
      <br>
      <div style="font-size: 18px">Nhưng trước hết, chúng tôi có niềm đam mê bỏng cháy với thể thao nói chung và với bóng đá. Chúng tôi từng ước mơ trở thành cầu thủ chuyên nghiệp nhưng […..</div>
      <br>
      <div style="font-size: 18px">….. ] Năm 2022, tôi mở HNT Sport chính ở phố Tân Mai như ước mơ từ thuở bé và khi phải chuyển cửa hàng, tôi cũng lần theo những con đường tác nghiệp quen thuộc trước khi chọn căn nhà ở &nbsp;<span class="font-bold">240 Tân Mai, Hoàng Mai, Hà Nội</span>trước đây. Trước sau như một, Minh Hải Sport của chúng tôi cam kết cung cấp đồ chính hãng, với công nghệ in ấn hiện đại nhất. Một mặt hàng không chính hãng, tôi đền gấp 1000 lần và giá cả luôn thấp nhất Việt Nam, giảm giá quanh năm, cho mọi mặt hàng.</div>
      <br>
      <div style="font-size: 18px">Đến với&nbsp;<span class="font-bold">HNT Sport</span>, quý khách sẽ có được hàng chất lượng cao nhất, dịch vụ tốt nhất, với giá thấp nhất. Thay mặt Minh Hải Sport, tôi xin chân thành cảm ơn quý khách hàng đã, đang và sẽ ủng hộ Minh Hải Sport. Chúng tôi sẽ làm tất cả những gì có thể để phục vụ quý vị tốt nhất, mang đến sự hài lòng cao nhất cho quý vị.</div>
      <br>
      <div class="font-bold" style="font-size: 18px">HNT Sport</div>
    </div>
  </div>
</div>
