<div class="container">
  <div class="text-center font-bold pb-5 pt-3" style="font-size:35px ">GIỚI THIỆU</div>
  <div class="grid grid-cols-2 gap-2 card mt-4 border-none">
    <div class="grid-cols-2 mr-3">
      <div class="logo cursor-pointer" nz-col nzSpan="6">
        <img style=" border-radius: 25px; margin: 0px!important;" src="/assets/images/logo/HNT_Sport_Logo.png" alt=""
          srcset="" />
      </div>
    </div>
    <div class="grid-cols-2">
      <div class="font-bold" style="font-size: 30px">LMQ SHOP SPORT</div>
      <div style="font-size: 18px">
        <div style="font-size: 22px">Chào mừng đến với LMQ Shop Sport - Ngôi nhà của đam mê thể thao!</div><br>

        Chúng tôi hân hạnh giới thiệu đến cộng đồng một không gian mua sắm độc đáo, nơi tất cả những đam mê về thể thao
        được thăng hoa và tận hưởng. LMQ Shop Sport không chỉ là nơi để bạn tìm kiếm những sản phẩm chất lượng cao nhất
        mà còn là điểm đến của những trải nghiệm thể thao đầy năng lượng và sự kết nối.<br><br>

        <span class="font-bold"></span><br>
        LMQ Shop Sport tự hào là điểm đến số một cho các đối tượng đam mê thể thao, nơi bạn có thể tìm thấy đầy đủ từ
        quần áo, giày dép, đến dụng cụ và phụ kiện thể thao. Chúng tôi cam kết mang đến cho bạn sự đa dạng, chất lượng
        và phong cách trong mỗi sản phẩm.<br><br>

        <span class="font-bold">Trải nghiệm mua sắm độc đáo</span><br>
        LMQ Shop Sport không chỉ là một cửa hàng, mà là một cộng đồng. Chúng tôi tạo ra không gian trải nghiệm mua sắm
        độc đáo, nơi bạn không chỉ tìm thấy những sản phẩm tốt nhất mà còn được chìm đắm trong không khí sôi động của
        thế giới thể thao.<br><br>

        <span class="font-bold">Sứ mệnh của chúng tôi</span><br>
        Chúng tôi không chỉ bán đồ thể thao, chúng tôi chia sẻ niềm đam mê. LMQ Shop Sport mong muốn trở thành điểm đến
        lý tưởng cho những người yêu thể thao, nơi mà mỗi khách hàng là một phần của cộng đồng đam mê và đổi
        mới.<br><br>

        <span class="font-bold">Tại sao chọn LMQ Shop Sport?</span><br>
        <ul>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="font-bold" style="font-size: 15px">-Đa dạng sản phẩm:</div> Từ
            thời trang đến dụng cụ thể thao, chúng tôi
            có đầy đủ
            mọi thứ bạn cần.</li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="font-bold" style="font-size: 15px">-Chất lượng đảm bảo:</div>
            Chúng tôi chọn lựa những thương hiệu uy tín,
            mang đến
            sự tin tưởng và an tâm cho khách
            hàng.</li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="font-bold" style="font-size: 15px">-Dịch vụ tận tâm:</div> Đội
            ngũ nhân viên của chúng tôi sẵn sàng hỗ trợ
            bạn mọi
            lúc, giúp bạn tìm ra những sản
            phẩm phù
            hợp nhất.</li>
        </ul>


        <br><br>
        Hãy đến và trải nghiệm LMQ Shop Sport ngay hôm nay. Chúng tôi tin rằng, ở đây, bạn không chỉ mua sắm mà còn tìm
        thấy nguồn động viên để theo đuổi đam mê thể thao của mình. Cảm ơn bạn đã đồng hành cùng chúng tôi trên hành
        trình thể thao đầy năng lượng!<br><br><br>

        Trân trọng,
        Đội ngũ LMQ Shop Sport
      </div>
      <br>
      <div class="font-bold" style="font-size: 18px">LMQ Shop Sport</div>
    </div>
  </div>
</div>