<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">QUẢN LÝ QUYỀN NHÂN VIÊN</a>
    <div class="navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <!-- <a class="nav-link" (click)="onOpenModal(null!, 'add')"><span
                        class="material material-icons btn btn-primary">
                        note_add
                    </span>Thêm thương hiệu<span class="sr-only">(current)</span></a> -->
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input type="search" ngModel name="key" id="searchName" class="form-control mr-sm-2" required />
        </form> -->
    </div>
</nav>
<div>
    <div class="container" id="main-container">
        <!-- <span class="material material-icons btn btn-primary" (click)="onOpenModal(null!, 'add')">group_add</span> -->

        <!-- Get List -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>GMAIL</th>
                    <th>ENABLE</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody *ngFor="let admin of changeRoleService.listAdmin | async">
                <tr>
                    <td>{{admin.id}}</td>
                    <td>{{admin.login}}</td>
                    <td>{{admin.enable}}</td>
                    <td>
                        <span class="material material-icons btn btn-success"
                            (click)="onOpenModal(admin, 'edit')">edit_note</span>
                        <span class="material material-icons btn btn-danger" (click)="onOpenModal(admin, 'delete')">
                            person_remove
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>


        <!-- Add Modal -->
        <!-- <div class="modal fade" id="addProductModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">Add Brand</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="onAddBrand(addForm)" #addForm="ngForm" method="post">
                            <div class="form-group">
                                <label for="brandName">BRAND NAME:</label>
                                <input type="text" ngModel name="brandName" class="form-control" id="brandName"
                                    required />
                            </div>
                            <div class="form-group">
                                <label for="brandCode">BRAND CODE:</label>
                                <input type="text" ngModel name="brandCode" class="form-control" id="brandCode"
                                    required />
                            </div>
                            <div class="form-group">
                                <label for="description">DESCRIPTION:</label>
                                <input type="text" ngModel name="description" class="form-control" id="description"
                                    required />
                            </div>


                            <div class="modal-footer">
                                <button class="btn btn-danger" id="add-customer-form" data-dismiss="modal">
                                    Close
                                </button>
                                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->



        <!-- Update Product -->
        <!-- <div class="modal fade" id="updateProductModal" aria-hidden="true" style="z-index: 1050;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateProductModalLabel">Update Role Admin</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #editForm="ngForm">
                            <div class="form-group">
                                <label for="id">ID:</label>
                                <input type="text" ngModel="{{ editAdmin ? editAdmin.id : 'N/A' }}" name="id"
                                    class="form-control" id="id" readonly required />
                            </div>
                            <div class="form-group">
                                <label for="login">EMAIL:</label>
                                <input type="text" ngModel="{{ editAdmin ? editAdmin.login : 'N/A' }}" name="login"
                                    class="form-control" id="login" readonly required />
                            </div>
                            <div class="form-group">
                                <label for="enable">ENABLE:</label>
                                <input type="text" ngModel="{{ editAdmin ? editAdmin.enable : 'N/A' }}" name="enable"
                                    class="form-control" id="enable" required />
                            </div>


                            <div class="modal-footer">
                                <button type="button" id="add-product-form" class="btn btn-secondary"
                                    data-dismiss="modal">
                                    Clear
                                </button>

                                <button (click)="onUpdateAdmin(editForm.value)" data-dismiss="modal"
                                    class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Delete Modal -->
        <!-- <div class="modal fade" id="deleteProductModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModelLabel">Delete Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Are you sure you want to delete brand
                            {{ deleteBrand ? deleteBrand.brandName : "N/A" }}
                        </p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                No
                            </button>
                            <button (click)="onDeleteBrand(deleteBrand.id)" class="btn btn-danger" data-dismiss="modal">
                                Yes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
</div>