
.form-group {
    width: 50%;
    float: left;
    padding: 0 5px;
  }

  .nav-link:hover {
    background-color: #0069d9;
    border-radius: 10px;
  }
  
  .material{
    margin-right: 10px;
  }
  
  @import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
  @import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';