<!-- forgot-password.component.html -->

<div>
    <label for="login">Email:</label>
    <input type="text" id="login" [(ngModel)]="login" placeholder="Enter your email" />
    <br>
    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" [(ngModel)]="oldPassword" placeholder="Enter your old password" />
    <br>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" placeholder="Enter your new password" />
    <br>
    <button (click)="onForgotPassword()">Change Password</button>
</div>