<!-- <div>
    <label for="login">Email:</label>
    <input type="text" id="login" [(ngModel)]="login" placeholder="Enter your email" />
    <br>
    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" [(ngModel)]="oldPassword" placeholder="Enter your old password" />
    <br>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" placeholder="Enter your new password" />
    <br>
    <button (click)="onForgotPassword()">Change Password</button>
</div> -->

<div class="mt-10 text-center">
    <h2 class="text-2xl font-sans font-bold pb-4" style="font-size: 30px">Đổi mật khẩu</h2>
</div>
<div class="w-2/5 m-auto" nz-form nzNoColon nzLayout="vertical">
    <nz-form-item>
        <!-- <nz-form-label class="font-bold" for="emmail">Email</nz-form-label> -->
        <nz-form-label for="email" class="font-bold">Email&nbsp; <span style="color: red">*
            </span></nz-form-label>
        <nz-form-control>
            <input type="text" nz-input id="login" [(ngModel)]="login" placeholder="Enter your email" />
        </nz-form-control>
    </nz-form-item>
    <br>
    <nz-form-item>
        <!-- <nz-form-label class="font-bold">Mật khẩu cũ</nz-form-label> -->
        <nz-form-label class="font-bold">Mật khẩu cũ&nbsp; <span style="color: red">*
            </span></nz-form-label>
        <nz-form-control>
            <nz-input-group for="oldPassword" [nzSuffix]="eyeOld">
                <input nz-input [type]="showPassword ? 'text' : 'password'" type="text" id="oldPassword"
                    [(ngModel)]="oldPassword" placeholder="Enter your old password" />
            </nz-input-group>
            <ng-template #eyeOld>
                <span nz-icon [nzType]="showPassword ? 'eye-invisible' : 'eye'" nzTheme="outline" class="cursor-pointer"
                    (click)="showPassword = !showPassword"></span>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <br>
    <nz-form-item>
        <!-- <nz-form-label class="font-bold">Mật khẩu mới</nz-form-label> -->
        <nz-form-label class="font-bold">Mật khẩu mới&nbsp; <span style="color: red">*
            </span></nz-form-label>
        <nz-form-control>
            <nz-input-group for="newPassword" [nzSuffix]="eyeNew">
                <input nz-input [type]="showPassword1 ? 'text' : 'password'" type="text" id="newPassword"
                    [(ngModel)]="newPassword" placeholder="Enter your new password" />
            </nz-input-group>
            <ng-template #eyeNew>
                <span nz-icon [nzType]="showPassword1 ? 'eye-invisible' : 'eye'" nzTheme="outline"
                    class="cursor-pointer" (click)="showPassword1 = !showPassword1"></span>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <br>
    <div>
        <button class="btn-submit p-2" (click)="onForgotPassword()">ĐỔI MẬT KHẨU</button>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->