<!-- <div class="container">
    <div class="input-group mb-3">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="email">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
            (click)="sendResetPasswordRequest()">Forgot Password</button>
    </div>
</div> -->




<div class="mt-10 text-center">
    <h2 class="text-2xl font-sans font-bold pb-4" style="font-size: 30px">QUÊN MẬT KHẨU</h2>
</div>
<div class="container">
    <div class="input-group mb-3">
        <div class="w-2/5 m-auto" nz-form nzNoColon nzLayout="vertical">
            <nz-form-item>
                <nz-form-label for="email" class="font-bold">Mời nhập Email : &nbsp; <span
                        style="color: red">*</span></nz-form-label>
                <nz-form-control>
                    <input type="email" id="email" class="form-control" placeholder="Nhập email" [(ngModel)]="email" />
                </nz-form-control>
            </nz-form-item>
            <div><button class="btn-submit p-2" type="button" (click)="sendResetPasswordRequest()">Quên Mật
                    Khẩu</button>
            </div>
        </div>
    </div>
</div>