<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">Quản lý đơn hàng</a>
    <div class="navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" ngModel name="key" id="searchName" class="form-control mr-sm-2" required />
        </form>
    </div>
</nav>
<div>
    <div class="dropdown">
        <!-- Bind the selectedOptionText to the button content -->
        <button class="dropbtn">{{ selectedOptionText }}</button>
        <div class="dropdown-content">
            <a>--CHỌN--</a>
            <a (click)="onDropdownSelection(0, 'CHỜ XÁC NHẬN')">CHỜ XÁC NHẬN</a>
            <a (click)="onDropdownSelection(1, 'CHỜ LẤY HÀNG')">CHỜ LẤY HÀNG</a>
            <a (click)="onDropdownSelection(2, 'ĐANG GIAO')">ĐANG GIAO</a>
            <a (click)="onDropdownSelection(3, 'ĐÃ GIAO')">ĐÃ GIAO</a>
        </div>
    </div>


    <div class="container" id="main-container">
        <!-- Get List -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>AMOUNT</th>
                    <th>CUSTOMER</th>
                    <th>PHONE</th>
                    <th>EMAIL</th>
                    <th>ADDRESS</th>
                    <th>STATUS</th>
                    <th>NOTE</th>
                    <th>PAYMETHOD</th>
                    <!-- <th>CREATED DATE</th> -->
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody *ngFor="let bill of detailBillService.listBill | async">
                <tr>
                    <td>{{bill.id}}</td>
                    <td>{{bill.amount}}</td>
                    <td>{{bill.customer}}</td>
                    <td>{{bill.phone}}</td>
                    <td>{{bill.email}}</td>
                    <td>{{bill.andress}}</td>
                    <td>{{bill.status}}</td>
                    <td>{{bill.note}}</td>
                    <td>{{bill.payMethod}}</td>
                    <!-- <td>{{bill.createdDate}}</td> -->
                    <td>
                        <span class="material material-icons btn btn-primary"
                            (click)="onOpenModal(bill, 'edit')">check</span>
                        <span class="material material-icons btn btn-warning">
                            visibility
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>


        <!-- Update Bill -->
        <div class="modal fade" id="updateProductModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateProductModalLabel">Update Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form #editForm="ngForm">
                            <div class="disable">

                                <div class="form-group">
                                    <label for="amount">AMOUNT:</label>
                                    <input type="text" ngModel="{{ editBill ? editBill.amount : 'N/A' }}" name="amount"
                                        class="form-control" id="amount" required />
                                </div>
                                <div class="form-group">
                                    <label for="customer">CUSTOMER:</label>
                                    <input type="text" ngModel="{{ editBill ? editBill.customer : 'N/A' }}"
                                        name="customer" class="form-control" id="customer" required />
                                </div>
                                <div class="form-group">
                                    <label for="phone">PHONE:</label>
                                    <input type="text" ngModel="{{ editBill ? editBill.phone : 'N/A' }}" name="phone"
                                        class="form-control" id="phone" required />
                                </div>
                                <div class="form-group">
                                    <label for="email">EMAIL:</label>
                                    <input type="text" ngModel="{{ editBill ? editBill.email : 'N/A' }}" name="email"
                                        class="form-control" id="email" required />
                                </div>
                                <div class="form-group">
                                    <label for="andress">ADDRESS:</label>
                                    <input type="text" ngModel="{{ editBill ? editBill.andress : 'N/A' }}"
                                        name="andress" class="form-control" id="andress" required />
                                </div>

                                <div class="form-group">
                                    <label for="note">NOTE:</label>
                                    <input type="text" ngModel="{{ editBill ? editBill.note : 'N/A' }}" name="note"
                                        class="form-control" id="note" required />
                                </div>
                                <div class="form-group">
                                    <label for="payMethod">PAYMETHOD:</label>
                                    <input type="text" ngModel="{{ editBill ? editBill.payMethod : 'N/A' }}"
                                        name="payMethod" class="form-control" id="payMethod" required />
                                </div>
                                <div class="form-group">
                                    <label for="createdDate">CREATED DATE:</label>
                                    <input type="text" ngModel="{{ editBill ? editBill.createdDate : 'N/A' }}"
                                        name="createdDate" class="form-control" id="createdDate" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id">ID:</label>
                                <input type="text" ngModel="{{ editBill ? editBill.id : 'N/A' }}" name="id"
                                    class="form-control" id="id" readonly required />
                            </div>
                            <div class="form-group">
                                <label for="status">STATUS:</label>
                                <!-- <input type="text" ngModel="{{ editBill?.status }}" name="status" class="form-control"
                                    id="status" required /> -->
                                <select ngModel="{{ editBill ? editBill.status : 'N/A' }}" name="status"
                                    class="form-control" id="status">
                                    <option disabled selected>Chọn một mục</option>
                                    <option value="0">CHỜ XÁC NHẬN</option>
                                    <option value="1">CHỜ LẤY HÀNG</option>
                                    <option value="2">ĐANG GIAO</option>
                                    <option value="3">ĐÃ GIAO</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="add-product-form" class="btn btn-secondary"
                                    data-dismiss="modal">
                                    Clear
                                </button>

                                <button (click)="onUpdateBill(editForm.value)" data-dismiss="modal"
                                    class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>